<div class="flex gap-2 overflow-x-auto h-full">
  <app-task-list class="w-full" [taskStatus]="TaskStatus.Backlog" [tasks]="tasksInBacklog"></app-task-list>
  <div class="w-2 bg-neutral-200"></div>
  <app-task-list class="w-full" [taskStatus]="TaskStatus.InProgress" [tasks]="tasksInProgress"></app-task-list>
  <div class="w-2 bg-neutral-200"></div>
  <app-task-list class="w-full" [taskStatus]="TaskStatus.Blocked" [tasks]="tasksInBlocked"></app-task-list>
  <div class="w-2 bg-neutral-200"></div>
  <app-task-list class="w-full" [taskStatus]="TaskStatus.OnHold" [tasks]="tasksOnHold"></app-task-list>
  <div class="w-2 bg-neutral-200"></div>
  <app-task-list class="w-full" [taskStatus]="TaskStatus.Completed" [tasks]="tasksInComplete"></app-task-list>
</div>
