@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
  @apply
  border border-zinc-300 rounded-md px-2 py-1 placeholder-zinc-400
  focus-visible:outline-0 focus-visible:border-blue-400;

  &.ng-invalid.ng-dirty {
    @apply border-red-700;
  }
}

.button {
  @apply rounded-md border border-transparent px-2 py-1 text-white cursor-pointer;

  &[disabled] {
    @apply cursor-default;
  }
}

.button-primary {
  @apply button bg-blue-400 hover:bg-blue-500;

  &[disabled] {
    @apply button bg-blue-300;
  }
}

.button-danger {
  @apply button bg-red-700 hover:bg-red-800;

  &[disabled] {
    @apply button bg-red-600;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-200;
  border-radius: 10px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300;
  border-radius: 10px;
  outline: 2px solid white;
}
